body {
  background-color: #D99F9A;
}
ul.Navbar{
  display: flex;  
  padding:20;
  list-style-type: none;
  background-color: #000000; 
}
a {
  display:block;                /* Transformation en block */
  min-width: 150px;             /* Largeur minimale des liens */
  text-decoration: none;
  color: rgb(209, 120, 84); 
}